* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

nav.menu-lateral {
    width: 80px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 aqua;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
    cursor: pointer;
}

.menu-lateral.expandir {
    width: 300px;
   

}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
    cursor: pointer;
}

.btn-expandir > i {
    color: aliceblue;
    font-size: 24px;
    

}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: .2s;
}

.ativo {
    background-color: aqua;
}


.item-menu {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

.item-menu:hover {
    background: aqua;
}

.txt-link {
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}

.icon {
    font-size: 30px;
    margin-left: 10px;
   
}